body {
  background-color: #eee;
}

.lightbulb.on {
  margin-top: 1px;
}

.lightbulb.off {
  margin-bottom: 1px;
}

.game-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
